<div class="navbar">
  <div class="navbar-logo"></div>
  <nav class="menu">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-item">Home</a>
    <a routerLink="/calendar" routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-item">Calendario</a>
    <a routerLink="/analisis" routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-item">Análisis</a>
    <a routerLink="/care" routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-item">Auto cuidado</a>
    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="menu-item">Sobre nosotros</a>
  </nav>
</div>
